@(title: String)(content: Html)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head profile="http://www.w3.org/2005/10/profile">
		<title>@title</title>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")" />
		<script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
		
		<!--[if IE]>
			<style type="text/css">
				#content {width: 770px; border-left: 2px solid #D1D1D1; border-right: 2px solid #D1D1D1; padding: 15px; margin: 0; background: url('images/content-bg.png');}
				table {border: 2px solid #AAAAAA;}
			</style>
		<![endif]-->
		
		<!--[if IE 9]>
			<style type="text/css">
				#content {width: 766px; margin: 0 auto; padding: 15px; background: url('images/content-bg.png');}
				table {border: 3px solid white; box-shadow: 0 0 10px #AAAAAA;}
			</style>
		<![endif]-->
	</head>
	<body>
		<div id="page">
			<div id="title">
				<h1>Flight Prediction Web API</h1>
				<p>SAP Hana Based</p>
			</div>
			
			<div id="body">
				<div id="nav">
					<ul>
						<li><a href="" class="active">Home</a></li>
						<!-- 
						<li><a href="">About</a></li>
						<li><a href="">Products</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">Contact</a></li> 
						-->
					</ul>
				</div>
				
				<div id="header">
				</div>
				
				<div id="content">
				@content
				</div>
				<div id="footer">
					<p><a href="">@title</a></p>
				</div>
			</div>
		</div>
	</body>
</html>